apiVersion: apps/v1
kind: Deployment
metadata:
    name: flannel-network
spec:
    replicas: 3
    selector:
        matchLabels:
            app: flannel
    template:
        metadata:
            labels:
                app: flannel
        spec:
            containers:
            - name: flannel-client
              image: busybox
              args:
              - /bin/sh
              - -c
              - sleep 30000
